.bord-box {
    width: 1000px;
}
.bor-box {

    height: 50px;
    margin: 90px 0;
}
.brd-plan-3 {
    float: left;
    width: 329px;
    height: 88px;
    margin: 2px;
    text-align: center;
}
.level-1 {
    width: 103px;
    height: 78px;
    border: solid 2px #ccc;
    margin: 0 auto;
    padding-top: 20px;
    background: rgba(164,179,87,1);
    background: -moz-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
    background: -webkit-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -o-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -ms-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: linear-gradient(to right, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
    text-align: center !important;
    color: #000;
    word-break: break-all;
    overflow: hidden;
}
.level-1-vacant {
    width: 103px;
    height: 78px;
    border: solid 2px #ccc;
    margin: 0 auto;
    padding-top: 20px;
    background: #ccc;
    text-align: center !important;
    color: #000;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
}
.level-1-gold{
    width: 103px;
    height: 78px;
    border: solid 2px #ccc;
    margin: 0 auto;
    padding-top: 20px;
    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
    text-align: center !important;
    color: #000;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
}
.level-2 {
    float: left;
    width: 103px;
    height: 78px;
    border: solid 2px #ccc;
    padding-top: 20px;
    background: rgba(164,179,87,1);
    background: -moz-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
    background: -webkit-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -o-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -ms-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: linear-gradient(to right, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
    text-align: center !important;
    margin: 0px 115.1px;
    color: #000;
    word-break: break-all;
    overflow: hidden;
}
.level-2-vacant {
    float: left;
    width: 103px;
    height: 78px;
    border: solid 2px #ccc;
    padding-top: 20px;
    background:#ccc;
    text-align: center !important;
    margin: 0px 115.1px;
    color: #000;
    word-break: break-all;
    overflow: hidden;
}
.level-2-gold {
    float: left;
    width: 103px;
    height: 78px;
    border: solid 2px #ccc;
    padding-top: 20px;
    background: rgba(220,21,103,0.5);
    background: -moz-linear-gradient(left, rgba(220,21,103,0.5) 0%, rgba(220,21,103,0.5) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(220,21,103,0.5)), color-stop(100%, rgba(220,21,103,0.5)));
    background: -webkit-linear-gradient(left, rgba(220,21,103,0.5) 0%, rgba(220,21,103,0.5) 100%);
    background: -o-linear-gradient(left, rgba(220,21,103,0.5) 0%, rgba(220,21,103,0.5) 100%);
    background: -ms-linear-gradient(left, rgba(220,21,103,0.5) 0%, rgba(220,21,103,0.5) 100%);
    background: linear-gradient(to right, rgba(220,21,103,0.5) 0%, rgba(220,21,103,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
    text-align: center;
    margin: 0px 115.1px;
    color: #000;
    word-break: break-all;
    overflow: hidden;
}
.level-3{
    width: 80px;
    height: 78px;
    border: solid 2px #ccc;
    float: left;
    padding-top: 20px;
    background: rgba(164,179,87,1);
    background: -moz-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
    background: -webkit-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -o-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -ms-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: linear-gradient(to right, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
    color: #f000;
    margin: 0 0 0 3px;
    text-align: center !important;
    word-break: break-all;
    overflow: hidden;
}
.level-3-vacant{
    width: 80px;
    height: 78px;
    border: solid 2px #ccc;
    float: left;
    padding-top: 20px;
    background: #ccc;
    color: #000;
    margin: 0 0 0 3px;
    text-align: center !important;
    word-break: break-all;
    overflow: hidden;
}
.level-3-gold{
    width: 80px;
    height: 78px;
    border: solid 2px #ccc;
    float: left;
    padding-top: 20px;
    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
    color: #000;
    margin: 0 0 0 3px;
    word-break: break-all;
    overflow: hidden;
}
.level-3-mid {
    width: 80px;
    height: 78px;
    border: solid 2px #ccc;
    float: left;
    padding-top: 20px;
    background: rgba(164,179,87,1);
    background: -moz-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
    background: -webkit-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -o-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -ms-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: linear-gradient(to right, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
    color: #000;
    margin: 0px 3px 0px 7px;	
    word-break: break-all;
    overflow: hidden;
}
.level-3-mid-vacant {
    width: 80px;
    height: 78px;
    border: solid 2px #ccc;
    float: left;
    padding-top: 20px;
    background: #ccc;
    color: #000;
    margin: 0px 3px 0px 7px;
    word-break: break-all;
    overflow: hidden;
}
.level-3-mid-gold {
    width: 80px;
    height: 78px;
    border: solid 2px #ccc;
    float: left;
    padding-top: 20px;

    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
    color: #000;
    margin: 0px 3px 0px 7px;
    word-break: break-all;
    overflow: hidden;
}
.level-4{
    width: 40px;
    height: 40px;
    border: solid 2px #ccc;
    float: left;
    padding-top: 20px;
    background: rgba(72, 202, 230, 0.7);
    background: -moz-linear-gradient(left, rgba(72, 202, 230, 0.7) 0%, rgba(72, 202, 230, 0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(72, 202, 230, 0.7)), color-stop(100%, rgba(72, 202, 230, 0.7)));
    background: -webkit-linear-gradient(left, rgba(72, 202, 230, 0.7) 0%, rgba(72, 202, 230, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(72, 202, 230, 0.7) 0%, rgba(72, 202, 230, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(72, 202, 230, 0.7) 0%, rgba(72, 202, 230, 0.7) 100%);
    background: linear-gradient(to right, rgba(72, 202, 230, 0.7) 0%, rgba(72, 202, 230, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
    color: #000;
    margin: 0 0 0 3px;
    word-break: break-all;
    overflow: hidden;
}
.level-4-vacant{
    width: 40px;
    height: 40px;
    border: solid 2px #ccc;
    float: left;
    background: #ccc;
    color: #000;
    margin: 0 0 0 3px;
    word-break: break-all;
    overflow: hidden;
}
.level-5{
    width: 50px;
    height: 50px;
    border: solid 2px #ccc;
    float: left;
    padding-top: 20px;
    background: rgba(72, 202, 37, 0.7);
    background: -moz-linear-gradient(left, rgba(72, 202, 37, 0.7) 0%, rgba(72, 202, 37, 0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(72, 202, 37, 0.7)), color-stop(100%, rgba(72, 202, 37, 0.7)));
    background: -webkit-linear-gradient(left, rgba(72, 202, 37, 0.7) 0%, rgba(72, 202, 37, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(72, 202, 37, 0.7) 0%, rgba(72, 202, 37, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(72, 202, 37, 0.7) 0%, rgba(72, 202, 37, 0.7) 100%);
    background: linear-gradient(to right, rgba(72, 202, 37, 0.7) 0%, rgba(72, 202, 37, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
    color: #000;
    margin: 0 0 0 3px;
    word-break: break-all;
    overflow: hidden;
}
.level-5-vacant{
    width: 50px;
    height: 50px;
    border: solid 2px #ccc;
    float: left;
    background: #ccc;
    color: #000;
    margin: 0 0 0 3px;
    word-break: break-all;
    overflow: hidden;
}
.level-6{
    width: 50px;
    height: 50px;
    border: solid 2px #ccc;
    float: left;
    padding-top: 20px;
    background: rgba(136, 58, 37, 0.8);
    background: -moz-linear-gradient(left, rgba(136, 58, 37, 0.8) 0%, rgba(136, 58, 37, 0.8) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(136, 58, 37, 0.8)), color-stop(100%, rgba(136, 58, 37, 0.8)));
    background: -webkit-linear-gradient(left, rgba(136, 58, 37, 0.8) 0%, rgba(136, 58, 37, 0.8) 100%);
    background: -o-linear-gradient(left, rgba(136, 58, 37, 0.8) 0%, rgba(136, 58, 37, 0.8) 100%);
    background: -ms-linear-gradient(left, rgba(136, 58, 37, 0.8) 0%, rgba(136, 58, 37, 0.8) 100%);
    background: linear-gradient(to right, rgba(136, 58, 37, 0.8) 0%, rgba(136, 58, 37, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
    color: #000;
    margin: 0 0 0 3px;
    word-break: break-all;
    overflow: hidden;
}
.level-6-vacant{
    width: 50px;
    height: 50px;
    border: solid 2px #ccc;
    float: left;
    background: #ccc;
    color: #000;
    margin: 0 0 0 3px;
    word-break: break-all;
    overflow: hidden;
}
.btn-active{ background: rgba(164,179,87,1);
             background: -moz-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
             background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
             background: -webkit-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
             background: -o-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
             background: -ms-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
             background: linear-gradient(to right, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
             color: #000;
             padding:5px;
             cursor:auto !important;
}
.btn-active-gold{ 
    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
    color: #000;
    padding:5px;
    cursor:auto !important;
}
.btn-active{ background: rgba(164,179,87,1);
             background: -moz-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
             background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
             background: -webkit-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
             background: -o-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
             background: -ms-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
             background: linear-gradient(to right, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
             color: #000;
             padding:5px;
             cursor:auto !important;
             word-break: break-all;
             overflow: hidden;
}
.btn-vacant{
    color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
    color: #000;
    padding:5px;
    cursor:auto !important;
    word-break: break-all;
    overflow: hidden;
}

.table_active{
 height: 100px;
border-radius: 10px;
border: 1px solid #1095BF;
padding-top: 37px;
width:100%;
text-align:center;
overflow:hidden;
word-break:break-all;
background: #04B7E0;
background: -moz-linear-gradient(top, #04B7E0 0%, #0082A1 100%);
background: -webkit-linear-gradient(top, #04B7E0 0%,#0082A1 100%);
background: linear-gradient(to bottom, #04B7E0 0%,#0082A1 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04B7E0', endColorstr='#0082A1',GradientType=0 );}

.table_inactive{
 height: 100px;
border-radius: 10px;
border: 1px solid #26C3E0;
padding-top: 37px;
width:100%;
text-align:center;
overflow:hidden;
word-break:break-all;
background: #7AE4F7;
background: -moz-linear-gradient(top, #7AE4F7 0%, #2DD1EF 100%, #00A6CA 100%);
background: -webkit-linear-gradient(top, #7AE4F7 0%,#2DD1EF 100%,#00A6CA 100%);
background: linear-gradient(to bottom, #7AE4F7 0%,#2DD1EF 100%,#00A6CA 100%);
background: linear-gradient(to bottom, #7AE4F7 0%,#2DD1EF 100%,#00A6CA 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7AE4F7', endColorstr='#00A6CA',GradientType=0 ); }

.blue_bg{
    height: 100px;
    border-radius: 5px;
    border: 1px solid #2FBAE6;
    padding-top: 37px;
}

.tableview_container{
text-align:center;
height:100%;
width: 100%;
margin: auto;
top: 0px;
}
.table-div{
padding-right: 5px;
margin-top:5px;
height : 100px;
border-top:none; 
float:left;
}

.table-div a:hover{
    text-decoration: none;
	color:black;
	}
	
	.table-div a{
    text-decoration: none;
	color:white;
	}